<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestProgram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>text-bot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>text-bot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
