<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestProgram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>text-bot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>text-bot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_891</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
